// VARIABLES

// -----------------------------------------------------------------------------
// Colors
// -----------------------------------------------------------------------------

$umdred: #E11D3A;
$bitcamp: #F37044;
$doctorup: #1FB0F1;
$fireside: #EF3E23;
$clover: #047940;

// -----------------------------------------------------------------------------
// Breakpoints
// -----------------------------------------------------------------------------

$phone:	480px;

