@import "variables";

/*
  Want to see all the source code? Check out my Github!
  github.com/zachjiroun
*/

* {
	font-family: 'Hind', serif;
}

body {
	margin: 0;
	padding: 0;
}

a {
	text-decoration: underline;
	color: #2980B9;
}

header {
	.photo img {
		display: block;
		max-width: 100%;
		margin: 30px auto;
		border-radius: 100%;
	}
	.aboutme {
		text-align: center;
	}
}

.container {
	margin: 0 auto;
	padding: 0 10%;
}

section {
	ul {
		padding-left: 0;
		list-style: none;
	}
	li {
		padding-left: 20px;
		text-indent: -20px;
	}
}

footer {
	margin-top: 30px;
	margin-bottom: 30px;
	text-align: center;
	.fa {
		color: black;
		margin: 0 5px;
		margin-bottom: 20px;
	}
	.resume {
		color: black;
	}
}

@media screen and (min-width: $phone) {

	main {
		padding-top: 30px;
		padding-right: 8%;
	}

	header {
		display: flex;
		align-items: center;
		justify-content: center;
		.photo {
			flex-direction: column;
			width: 50%;
			margin-right: 30px;
			img {
				float: right;
				max-width: 100%;
			}
		}
		.aboutme {
			flex-direction: column;
			width: 50%;
			h1, p { 
			text-align: left;
			}
		}
	}
	section {
		display: flex;
		align-items: center;
		justify-content: center;
		h2 {
			flex-direction: column;
			width: 50%;
			margin-right: 30px;
			text-align: right;
		}
		ul, p {
			flex-direction: column;
			width: 50%;
		}
	}
}

.umd { color: $umdred; }
.bitcamp { color: $bitcamp; }
.doctorup { color: $doctorup; }
.fireside { color: $fireside; }
.clover { color: $clover; }