// Home

header {
  padding: 2.5rem 2.5rem 1.5rem 2.5rem;
  @include tablet {
    padding-bottom: 2.5rem;
  }
  h1 {
    line-height: 1.5;
    font-size: 3rem;
    @include tablet {
      font-size: 4rem;
    }
  }
  h3 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
    @include tablet {
      font-size: 2rem;
    }
  }
  h4 {
    font-size: 1.05rem;
    @include tablet {
      font-size: 1.4rem;
    }
  }
}

.links {
  a {
    &:hover {
      transform: translateY(-.5rem);
    }
  }
  .divider {
    padding: 0 0.5rem;
  }
}

// Post List

.post-list {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.post-item {
  margin: 1rem;
  width: 100%;
  border-radius: .25rem;
  box-shadow: 0 0 20px rgba(#000, .1);
  transition: all $animation-durration ease;
  background-color: $post-background;
  @include tablet {
    width: 43%;
    flex-grow: 0;
  }
  @include laptop {
    width: 29%;
  }
  @include desktop {
    width: 25%;
  }
  &:hover {
    transform: scale(1.05);
  }
}

.post-image {
  border-radius: .25em .25em 0 0;
}

.post-info {
  padding: 1rem 1.6rem;
  border-radius: 0 0 .25rem .25rem;
}

.post-title {
  font-size: 1.2rem;
  line-height: 1.2;
  color: $primary-color;
}

.post-description {
  padding: .4em 0;
  line-height: 1.2;
  color: $secondary-color;
}

// Footer

footer {
  padding: 2.5rem;
  text-align: center;
}
