// Variables

// Colors

$post-background: #EBEBEB;
$primary-color: #444;
$secondary-color: #777;

// Fonts

$primary-font: 'Source Sans Pro', sans-serif;

// Animations

$animation-durration: 0.25s;
