// Variables

// Colors

$post-background: #EBEBEB;
$primary-color: #404040;
$secondary-color: rgba(64,64,64,0.75);

// Fonts

$primary-font: 'Source Sans Pro', sans-serif;

// Animations

$animation-durration: 0.25s;
